blinker==1.5
certifi==2024.2.2
charset-normalizer==3.0.1
click==8.0.4
colorama==0.4.5
# contourpy
# cycler==0.12.1
Flask==2.0.3
Flask-MySQLdb==1.0.1
mysql
fonttools==4.27.1
idna==3.7
imageio==2.16.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
jsonify
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mysql-connector-python
mysqlclient
networkx
numpy
packaging
pillow
pyparsing
python-dateutil
requests
scikit-image
scikit-learn
scipy
six
threadpoolctl
tifffile
urllib3
Werkzeug
opencv-python